div {
    font-size: 18px;

p {
    color: rgb(90, 90, 214);
}

ul {
    color: rgb(104, 232, 104);
}

}



/*

CSS

div {
    font-size: 18px;
}
div p {
    color: rgb(90, 90, 214);
}

div u {
    color: rgb(104, 232, 104);
}

